<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ansigtsgenkendelse - og teknologien bag</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css" rel="stylesheet">
  <style>
    .accordion-button:focus {
      box-shadow: none !important;
    }

    .acc2 {
      cursor: not-allowed;
    }
  </style>
</head>

<body>
  <div class="container mt-4">
    <h2 class="mt-5 mb-5"><b>Ansigtsgenkendelse</b> - <i>og teknologien bag</i></h2>
    <h3 class="mt-5 mb-5"><i class="fa-solid fa-gear">&nbsp;&nbsp;</i>Modul 3</h3>
    <div class="alert alert-warning" role="alert">
      I dette modul prøver I jeres hidtidige viden om og arbejde med ansigtsgenkendelse, dels fra de praktiske øvelser,
      dels fra opgaverne i GeoGebra, af på modeller, sådan som de faktisk bruges ”ude i virkeligheden”.
      I bliver introduceret for to modeller: den første er særligt kendetegnet ved dens hurtighed og tilgange, der meget
      ligner dem, I brugte ifm. GeoGebra – såkaldte ”facial landmarks”, og den anden model er et eksempel på, hvordan
      den nyeste teknologi griber samme problem an, såkaldte Convolutional Neural Networks (CNN).
    </div>
    <div class="accordion" id="accordionExampleOne">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            <span style="color: rgb(107, 129, 178);"><b>Aktivitet 1</b></span>:&nbsp;&nbsp;<b>Præsentation af <i>Facial
                Landmarks</i></b>&nbsp;&nbsp;(15 min.)
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExampleOne">
          <div class="accordion-body">
            <p>Læs introduktionen til teknologien bag Facial Landmarks.</p>
            <p>Diskutér efterfølgende de pågældende spørgsmål med din sidemakker for at sikre, at I har forstået, dels
              hvad
              det er for en teknologi, dels hvordan I tænkes at bruge den i det følgende.</p><br>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Aktivitet 2: &nbsp;&nbsp;<b>Afprøvning på eget
              billeddata</b>&nbsp;&nbsp;(30 min.)
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExampleOne">
          <div class="accordion-body">
            <p>I skal nu til selv at arbejde undersøgende med teknologien. Overvej først med sidemakkeren, hvorvidt
              ”ideal-ansigtet”, altså det ret abstrakte ansigt i punkter, som modellen arbejder på baggrund af, stemmer
              overens med jeres arbejde fra de to foregående moduler? Bekræftes mon nogle af de intuitioner, I selv
              havde,
              men som I ikke fik testet i de foregående moduler?</p>

            <p>I skal nu bruge jeres billedmateriale fra de foregående moduler. Følg anvisningerne til at importere
              disse i
              Colab-notebook’en, og generér opmærkninger på billederne ved hjælp af kodeeksemplerne. Er modellen præcis
              –
              og hvis ja, hvordan kan det så være, nu den ikke har set jeres billedmateriale før? Prøv at bruge billeder
              af jer selv, hvor I smiler mere og mindre, har kasket el.lign. Ændrer dette på noget?</p>

            <p>I har i præsentationen set, hvordan afstande mellem fx øjne eller fra næse til mund kan bruges til at
              identificere ansigter med ret stor træfsikkerhed. Hvilke andre afstande forestiller I jer kunne være
              relevante at undersøge? Prøv jeres idéer af ved at foretage relevante ændringer i koden i
              Colab-notebook’en:</p>

            <p>I skal ind på følgende <i class="fa-solid fa-link"></i> <a
                href="https://colab.research.google.com/drive/1efURR5vJCOvWbzrvsd_RFVabFU0tGWW1#scrollTo=jF_n05yro2BW">Colab-notebook</a>.
            </p><br>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Aktivitet 3: &nbsp;&nbsp;<b>Genbesøg undersøgelser fra Modul 2&nbsp;&nbsp;(45 min.)</b>
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExampleOne">
          <div class="accordion-body">
            <p>Resten af modulet bruger I på at genbesøge nogle af de opgaver, som Modul 2 (Aktivitet 3) sluttede af
              med. I
              skal altså bruge modellen til at se, om den kan ”spotte” slægtskab. Overvej her i grupper eller med
              sidemakkeren, hvordan et sådant forsøg skal designes og udføres?</p>
          </div>
        </div>
      </div>
    </div>
    <h3 class="mt-5 mb-5"><i class="fa-solid fa-gear"></i>&nbsp;&nbsp;Modul 4</h3>
    <div class="alert alert-light" role="alert">
      <span style="color: lightgray;">I dette modul skal I nu stifte bekendtskab med, hvordan ansigtsgenkendelse
        fungerer i dag. Det er således,
        de
        teknologier, I har
        hørt omtalt i forløbets indledende moduler: den teknologi, politiet gør brug af, og som er implementeret på
        fodboldstadions rundt omkring i landet.</span>
    </div>
    <div class="accordion" id="accordionExampleTwo">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button disabled class="accordion-button collapsed acc2" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFour" aria-controls="collapseFour">
            Aktivitet 1: &nbsp;&nbsp;<b>Præsentation af nyeste teknologi - CNN</b>&nbsp;&nbsp;(15 min.)
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExampleTwo">
          <div class="accordion-body">
            <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin
            adds the appropriate classes that we use to style each element. These classes control the overall
            appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom
            CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
            <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button disabled class="accordion-button collapsed acc2" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            Aktivitet 2: &nbsp;&nbsp;<b>Brug CNN til ansigtsgenkendelse</b>&nbsp;&nbsp;(30 min.)
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExampleTwo">
          <div class="accordion-body">
            I skal ind på følgende <i class="fa-solid fa-link"></i> <a
              href="https://colab.research.google.com/drive/1LBjY4VKnY2ntXiT-h43TucA_jwCtro5p#scrollTo=UgwuoZF-Ekz9">Colab-notebook</a>.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button disabled class="accordion-button collapsed acc2" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            Aktivitet 3: &nbsp;&nbsp;<b>Gruppearbejde (m. plenumopsamling)</b>&nbsp;&nbsp;(~30 min.)
          </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExampleTwo">
          <div class="accordion-body">
            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin
            adds the appropriate classes that we use to style each element. These classes control the overall
            appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom
            CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
            <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>